---
import type { MarkdownHeading } from 'astro'

type Props = {
  title: string
  headings?: MarkdownHeading[]
}

const { title, headings } = Astro.props
// console.log("headings from components/Markdown.astro", headings)
---

<article class="docs">
    <h1 class="content-title">{title}</h1>
    <slot />
</article>

<style>
@reference "tailwindcss";

.docs {
  @apply max-w-3xl;
  margin: 0 auto;
  padding: 48px 0 24px;
}
</style>