/**
 * Headings
 * -------------------------------------------------------------------------- */

.docs h1,
.docs h2,
.docs h3,
.docs h4,
.docs h5,
.docs h6 {
  position: relative;
  font-weight: 600;
  outline: none;
  color: var(--foreground);
}

.docs h1 {
  letter-spacing: -0.02em;
  line-height: 40px;
  font-size: 28px;
}

.docs h2 {
  margin: 36px 0 16px;
  letter-spacing: -0.02em;
  line-height: 32px;
  font-size: 24px;
}

.docs h3 {
  margin: 32px 0 16px;
  letter-spacing: -0.01em;
  line-height: 28px;
  font-size: 20px;
}

.docs h4 {
  margin: 24px 0 0;
  letter-spacing: -0.01em;
  line-height: 24px;
  font-size: 18px;
}

.docs .header-anchor {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: -0.87em;
  font-weight: 500;
  user-select: none;
  opacity: 0;
  text-decoration: none;
  transition:
    color 0.25s,
    opacity 0.25s;
}

.docs .header-anchor:before {
  content: var(--vp-header-anchor-symbol);
}

.docs h1:hover .header-anchor,
.docs h1 .header-anchor:focus,
.docs h2:hover .header-anchor,
.docs h2 .header-anchor:focus,
.docs h3:hover .header-anchor,
.docs h3 .header-anchor:focus,
.docs h4:hover .header-anchor,
.docs h4 .header-anchor:focus,
.docs h5:hover .header-anchor,
.docs h5 .header-anchor:focus,
.docs h6:hover .header-anchor,
.docs h6 .header-anchor:focus {
  opacity: 1;
}

@media (min-width: 768px) {
  .docs h1 {
    letter-spacing: -0.02em;
    line-height: 40px;
    font-size: 32px;
  }
}

.docs h2 .header-anchor {
  top: 24px;
}

/**
 * Paragraph and inline elements
 * -------------------------------------------------------------------------- */

.docs p,
.docs summary {
  margin: 16px 0;
  color: var(--color-docs-text);
}

.docs p {
  line-height: 28px;
}

.docs blockquote {
  margin: 16px 0;
  border-left: 2px solid var(--border);
  padding-left: 16px;
  transition: border-color 0.5s;
  color: var(--text-highlight);
}

.docs blockquote > p {
  margin: 0;
  font-size: 16px;
  transition: color 0.5s;
}

.docs a {
  font-weight: 500;
  text-decoration: underline;
  text-underline-offset: 2px;
  transition:
    color 0.25s,
    opacity 0.25s;
}

.docs a:hover {
  color: white !important;
}

.docs strong {
  font-weight: 600;
}

/**
 * Lists
 * -------------------------------------------------------------------------- */

.docs ul,
.docs ol {
  padding-left: 1.25rem;
  margin: 16px 0;
}

.docs ul {
  list-style: disc;
}

.docs ol {
  list-style: decimal;
}

.docs ul li,
.docs ol li {
  padding: 5px 0;
  color: var(--color-docs-text);
}

.docs ul li p,
.docs ol li p {
  margin: 0;
}

.docs ul li > ol,
.docs ul li > ul {
  margin: 8px 0 0;
}

/**
 * Table
 * -------------------------------------------------------------------------- */

.docs table {
  display: table;
  border-collapse: collapse;
  margin: 20px 0;
  overflow-x: auto;
  width: 100%;
  /* // table-layout: fixed; */
  box-sizing: border-box;
  /* // white-space: nowrap; */
}

.docs tr {
  background-color: var(--bg);
  border-top: 1px solid var(--border);
  transition: background-color 0.5s;
}

.docs tr:nth-child(2n) {
  background-color: var(--bg-alt);
}

.docs th,
.docs td {
  border: 1px solid var(--border);
  padding: 8px 16px;
  box-sizing: border-box;
}

.docs th {
  text-align: left;
  font-size: 14px;
  font-weight: 600;
  color: var(--text-highlight);
  background-color: var(--bg-alt);
}

.docs td {
  font-size: 14px;
}

/**
 * Decorational elements
 * -------------------------------------------------------------------------- */

.docs hr {
  margin: 16px 0;
  border: none;
  border-top: 1px solid var(--border);
}

/**
 * Custom Block
 * -------------------------------------------------------------------------- */

.docs .custom-block {
  margin: 16px 0;
}

.docs .custom-block p {
  margin: 8px 0;
  line-height: 24px;
}

.docs .custom-block p:first-child {
  margin: 0;
}

.docs .custom-block div[class*='language-'] {
  margin: 8px 0;
  border-radius: 8px;
}

.docs .custom-block div[class*='language-'] code {
  font-weight: 400;
  background-color: transparent;
}

.docs .custom-block .vp-code-group .tabs {
  margin: 0;
  border-radius: 8px 8px 0 0;
}

/**
 * Code
 * -------------------------------------------------------------------------- */

.docs .expressive-code {
  margin-bottom: 1rem;
}

/* inline code */
.docs :not(pre, h1, h2, h3, h4, h5, h6) > code {
  color: var(--code-color);
}

.docs :not(pre) > code {
  border-radius: 4px;
  padding: 3px 6px;
  background-color: var(--code-bg);
  transition:
    color 0.25s,
    background-color 0.5s;
}

.docs h1 > code,
.docs h2 > code,
.docs h3 > code,
.docs h4 > code {
  font-size: 0.9em;
}

.docs div[class*='language-'],
.vp-block {
  position: relative;
  margin: 16px -24px;
  background-color: var(--code-bg);
  overflow-x: auto;
  transition: background-color 0.5s;
}

@media (min-width: 640px) {
  .docs div[class*='language-'],
  .vp-block {
    border-radius: 8px;
    margin: 16px 0;
  }
}

@media (max-width: 639px) {
  .docs li div[class*='language-'] {
    border-radius: 8px 0 0 8px;
  }
}

.docs div[class*='language-'] + div[class*='language-'],
.docs div[class$='-api'] + div[class*='language-'],
.docs div[class*='language-'] + div[class$='-api'] > div[class*='language-'] {
  margin-top: -8px;
}

.docs [class*='language-'] pre,
.docs [class*='language-'] code {
  /*rtl:ignore*/
  direction: ltr;
  /*rtl:ignore*/
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

.docs [class*='language-'] pre {
  position: relative;
  z-index: 1;
  margin: 0;
  padding: 20px 0;
  background: transparent;
  overflow-x: auto;
}

.docs [class*='language-'] code {
  display: block;
  padding: 0 24px;
  width: fit-content;
  min-width: 100%;
  color: var(--code-color);
  transition: color 0.5s;
}

.docs [class*='language-'] code .highlighted {
  transition: background-color 0.5s;
  margin: 0 -24px;
  padding: 0 24px;
  width: calc(100% + 2 * 24px);
  display: inline-block;
}

.docs [class*='language-'] code .diff {
  transition: background-color 0.5s;
  margin: 0 -24px;
  padding: 0 24px;
  width: calc(100% + 2 * 24px);
  display: inline-block;
}

.docs [class*='language-'] code .diff::before {
  position: absolute;
  left: 10px;
}

.docs [class*='language-'] .has-focused-lines .line:not(.has-focus) {
  filter: blur(0.095rem);
  opacity: 0.4;
  transition:
    filter 0.35s,
    opacity 0.35s;
}

.docs [class*='language-'] .has-focused-lines .line:not(.has-focus) {
  opacity: 0.7;
  transition:
    filter 0.35s,
    opacity 0.35s;
}

.docs [class*='language-']:hover .has-focused-lines .line:not(.has-focus) {
  filter: blur(0);
  opacity: 1;
}

.docs div[class*='language-'].line-numbers-mode {
  /*rtl:ignore*/
  padding-left: 32px;
}

.docs .line-numbers-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  /*rtl:ignore*/
  left: 0;
  z-index: 3;
  /*rtl:ignore*/
  border-right: 1px solid var(--border);
  padding-top: 20px;
  width: 32px;
  text-align: center;
  font-family: var(--font-family-mono);
  transition:
    border-color 0.5s,
    color 0.5s;
}

.docs [class*='language-'] > button.copy {
  /*rtl:ignore*/
  direction: ltr;
  position: absolute;
  top: 12px;
  /*rtl:ignore*/
  right: 12px;
  z-index: 3;
  border: 1px solid var(--vp-code-copy-code-border-color);
  border-radius: 4px;
  width: 40px;
  height: 40px;
  background-color: var(--vp-code-copy-code-bg);
  opacity: 0;
  cursor: pointer;
  background-image: var(--vp-icon-copy);
  background-position: 50%;
  background-size: 20px;
  background-repeat: no-repeat;
  transition:
    border-color 0.25s,
    background-color 0.25s,
    opacity 0.25s;
}

.docs [class*='language-']:hover > button.copy,
.docs [class*='language-'] > button.copy:focus {
  opacity: 1;
}

.docs [class*='language-'] > button.copy:hover,
.docs [class*='language-'] > button.copy.copied {
  border-color: var(--vp-code-copy-code-hover-border-color);
  background-color: var(--vp-code-copy-code-hover-bg);
}

.docs [class*='language-'] > button.copy.copied,
.docs [class*='language-'] > button.copy:hover.copied {
  /*rtl:ignore*/
  border-radius: 0 4px 4px 0;
  background-color: var(--vp-code-copy-code-hover-bg);
  background-image: var(--vp-icon-copied);
}

.docs [class*='language-'] > button.copy.copied::before,
.docs [class*='language-'] > button.copy:hover.copied::before {
  position: relative;
  top: -1px;
  /*rtl:ignore*/
  transform: translateX(calc(-100% - 1px));
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--vp-code-copy-code-hover-border-color);
  /*rtl:ignore*/
  border-right: 0;
  border-radius: 4px 0 0 4px;
  padding: 0 10px;
  width: fit-content;
  height: 40px;
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  color: var(--vp-code-copy-code-active-text);
  background-color: var(--vp-code-copy-code-hover-bg);
  white-space: nowrap;
  content: var(--vp-code-copy-copied-text-content);
}

.docs [class*='language-'] > span.lang {
  position: absolute;
  top: 2px;
  /*rtl:ignore*/
  right: 8px;
  z-index: 2;
  font-size: 12px;
  font-weight: 500;
  color: var(--code-color);
  transition:
    color 0.4s,
    opacity 0.4s;
}

.docs [class*='language-']:hover > button.copy + span.lang,
.docs [class*='language-'] > button.copy:focus + span.lang {
  opacity: 0;
}

/**
 * Component: Team
 * -------------------------------------------------------------------------- */

.docs .VPTeamMembers {
  margin-top: 24px;
}

.docs .VPTeamMembers.small.count-1 .container {
  margin: 0 !important;
  max-width: calc((100% - 24px) / 2) !important;
}

.docs .VPTeamMembers.small.count-2 .container,
.docs .VPTeamMembers.small.count-3 .container {
  max-width: 100% !important;
}

.docs .VPTeamMembers.medium.count-1 .container {
  margin: 0 !important;
  max-width: calc((100% - 24px) / 2) !important;
}

/**
 * External links
 * -------------------------------------------------------------------------- */

/* prettier-ignore */
:is(.vp-external-link-icon, .docs a[href*='://'], .docs a[target='_blank']):not(.no-icon)::after {
  display: inline-block;
  margin-top: -1px;
  margin-left: 4px;
  width: 11px;
  height: 11px;
  background: currentColor;
  color: var(--default-3);
  flex-shrink: 0;
  --icon: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' %3E%3Cpath d='M0 0h24v24H0V0z' fill='none' /%3E%3Cpath d='M9 5v2h6.59L4 18.59 5.41 20 17 8.41V15h2V5H9z' /%3E%3C/svg%3E");
  -webkit-mask-image: var(--icon);
  mask-image: var(--icon);
}

.vp-external-link-icon::after {
  content: '';
}

/* prettier-ignore */
.external-link-icon-enabled :is(.docs a[href*='://'], .docs a[target='_blank'])::after {
  content: '';
  color: currentColor;
}

.sl-link-button {
  padding: 0.5rem 1rem !important;
  border-radius: 0.25rem !important;
  text-decoration: none !important;
}

.sl-link-button:active,
.sl-link-button:hover {
  text-decoration: underline !important;
}

.sl-link-button p {
  margin: 0 !important;
}

.sl-link-button.primary {
  color: var(--button-primary-hover-text) !important;
}

/**
 * Tabs component overrides
 * -------------------------------------------------------------------------- */

@layer starlight.components {
  .tablist-wrapper {
    display: block !important;
    margin-top: 2rem;
  }

  ul[role="tablist"] {
    list-style: none !important;
    padding-left: 0 !important;
    border-bottom: 0 !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    justify-content: flex-start;
    gap: 0.5rem;
  }

  li.tab {
    padding-right: 0.5rem;
    margin-bottom: 0 !important;
  }

  li.tab a {
    text-decoration: none !important;
    border-bottom: 0 !important;
    background-color: var(--color-muted);
    color: var(--color-muted-foreground);
    border-radius: var(--radius-sm);
    padding: 0.325rem 0.825rem !important; 
  }

  li.tab a:hover {
    background-color: var(--color-muted/80);
  }

  li.tab a svg {
    padding-top: 2px;
  }
}

/**
 * Starlight base
 * -------------------------------------------------------------------------- */

@layer starlight.base {
	:root,
	::backdrop {
		/* Colors (dark mode) */
		--sl-color-white: hsl(0, 0%, 100%); /* “white” */
		--sl-color-gray-1: hsl(224, 20%, 94%);
		--sl-color-gray-2: hsl(224, 6%, 77%);
		--sl-color-gray-3: hsl(224, 6%, 56%);
		--sl-color-gray-4: hsl(224, 7%, 36%);
		--sl-color-gray-5: hsl(224, 10%, 23%);
		--sl-color-gray-6: hsl(224, 14%, 16%);
		--sl-color-black: hsl(224, 10%, 10%);

		--sl-hue-orange: 41;
		--sl-color-orange-low: hsl(var(--sl-hue-orange), 39%, 22%);
		--sl-color-orange: hsl(var(--sl-hue-orange), 82%, 63%);
		--sl-color-orange-high: hsl(var(--sl-hue-orange), 82%, 87%);
		--sl-hue-green: 101;
		--sl-color-green-low: hsl(var(--sl-hue-green), 39%, 22%);
		--sl-color-green: hsl(var(--sl-hue-green), 82%, 63%);
		--sl-color-green-high: hsl(var(--sl-hue-green), 82%, 80%);
		--sl-hue-blue: 234;
		--sl-color-blue-low: hsl(var(--sl-hue-blue), 54%, 20%);
		--sl-color-blue: hsl(var(--sl-hue-blue), 100%, 60%);
		--sl-color-blue-high: hsl(var(--sl-hue-blue), 100%, 87%);
		--sl-hue-purple: 281;
		--sl-color-purple-low: hsl(var(--sl-hue-purple), 39%, 22%);
		--sl-color-purple: hsl(var(--sl-hue-purple), 82%, 63%);
		--sl-color-purple-high: hsl(var(--sl-hue-purple), 82%, 89%);
		--sl-hue-red: 339;
		--sl-color-red-low: hsl(var(--sl-hue-red), 39%, 22%);
		--sl-color-red: hsl(var(--sl-hue-red), 82%, 63%);
		--sl-color-red-high: hsl(var(--sl-hue-red), 82%, 87%);

		--sl-color-accent-low: hsl(224, 54%, 20%);
		--sl-color-accent: hsl(224, 100%, 60%);
		--sl-color-accent-high: hsl(224, 100%, 85%);

		--sl-color-text: var(--sl-color-gray-2);
		--sl-color-text-accent: var(--sl-color-accent-high);
		--sl-color-text-invert: var(--sl-color-accent-low);
		--sl-color-bg: var(--sl-color-black);
		--sl-color-bg-nav: var(--sl-color-gray-6);
		--sl-color-bg-sidebar: var(--sl-color-gray-6);
		--sl-color-bg-inline-code: var(--sl-color-gray-5);
		--sl-color-bg-accent: var(--sl-color-accent-high);
		--sl-color-hairline-light: var(--sl-color-gray-5);
		--sl-color-hairline: var(--sl-color-gray-6);
		--sl-color-hairline-shade: var(--sl-color-black);

		--sl-color-backdrop-overlay: hsla(223, 13%, 10%, 0.66);

		/* Shadows (dark mode) */
		--sl-shadow-sm: 0px 1px 1px hsla(0, 0%, 0%, 0.12), 0px 2px 1px hsla(0, 0%, 0%, 0.24);
		--sl-shadow-md: 0px 8px 4px hsla(0, 0%, 0%, 0.08), 0px 5px 2px hsla(0, 0%, 0%, 0.08),
			0px 3px 2px hsla(0, 0%, 0%, 0.12), 0px 1px 1px hsla(0, 0%, 0%, 0.15);
		--sl-shadow-lg: 0px 25px 7px hsla(0, 0%, 0%, 0.03), 0px 16px 6px hsla(0, 0%, 0%, 0.1),
			0px 9px 5px hsla(223, 13%, 10%, 0.33), 0px 4px 4px hsla(0, 0%, 0%, 0.75),
			0px 4px 2px hsla(0, 0%, 0%, 0.25);

		/* Text size and line height */
		--sl-text-2xs: 0.75rem; /* 12px */
		--sl-text-xs: 0.8125rem; /* 13px */
		--sl-text-sm: 0.875rem; /* 14px */
		--sl-text-base: 1rem; /* 16px */
		--sl-text-lg: 1.125rem; /* 18px */
		--sl-text-xl: 1.25rem; /* 20px */
		--sl-text-2xl: 1.5rem; /* 24px */
		--sl-text-3xl: 1.8125rem; /* 29px */
		--sl-text-4xl: 2.1875rem; /* 35px */
		--sl-text-5xl: 2.625rem; /* 42px */
		--sl-text-6xl: 4rem; /* 64px */

		--sl-text-body: var(--sl-text-base);
		--sl-text-body-sm: var(--sl-text-xs);
		--sl-text-code: var(--sl-text-sm);
		--sl-text-code-sm: var(--sl-text-xs);
		--sl-text-h1: var(--sl-text-4xl);
		--sl-text-h2: var(--sl-text-3xl);
		--sl-text-h3: var(--sl-text-2xl);
		--sl-text-h4: var(--sl-text-xl);
		--sl-text-h5: var(--sl-text-lg);

		--sl-line-height: 1.75;
		--sl-line-height-headings: 1.2;

		--sl-font-system: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
			Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
			'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
		--sl-font-system-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono',
			'Courier New', monospace;
		--__sl-font: var(--sl-font, var(--sl-font-system)), var(--sl-font-system);
		--__sl-font-mono: var(--sl-font-mono, var(--sl-font-system-mono)), var(--sl-font-system-mono);

		/** Key layout values */
		--sl-nav-height: 3.5rem;
		--sl-nav-pad-x: 1rem;
		--sl-nav-pad-y: 0.75rem;
		--sl-mobile-toc-height: 3rem;
		--sl-sidebar-width: 18.75rem;
		--sl-sidebar-pad-x: 1rem;
		--sl-content-width: 45rem;
		--sl-content-pad-x: 1rem;
		--sl-menu-button-size: 2rem;
		--sl-nav-gap: var(--sl-content-pad-x);
		/* Offset required to show outline inside an element instead of round the outside */
		--sl-outline-offset-inside: -0.1875rem;

		/* Global z-index values */
		--sl-z-index-toc: 4;
		--sl-z-index-menu: 5;
		--sl-z-index-navbar: 10;
		--sl-z-index-skiplink: 20;
	}

	:root[data-theme='light'],
	[data-theme='light'] ::backdrop {
		/* Colours (light mode) */
		--sl-color-white: hsl(224, 10%, 10%);
		--sl-color-gray-1: hsl(224, 14%, 16%);
		--sl-color-gray-2: hsl(224, 10%, 23%);
		--sl-color-gray-3: hsl(224, 7%, 36%);
		--sl-color-gray-4: hsl(224, 6%, 56%);
		--sl-color-gray-5: hsl(224, 6%, 77%);
		--sl-color-gray-6: hsl(224, 20%, 94%);
		--sl-color-gray-7: hsl(224, 19%, 97%);
		--sl-color-black: hsl(0, 0%, 100%);

		--sl-color-orange-high: hsl(var(--sl-hue-orange), 80%, 25%);
		--sl-color-orange: hsl(var(--sl-hue-orange), 90%, 60%);
		--sl-color-orange-low: hsl(var(--sl-hue-orange), 90%, 88%);
		--sl-color-green-high: hsl(var(--sl-hue-green), 80%, 22%);
		--sl-color-green: hsl(var(--sl-hue-green), 90%, 46%);
		--sl-color-green-low: hsl(var(--sl-hue-green), 85%, 90%);
		--sl-color-blue-high: hsl(var(--sl-hue-blue), 80%, 30%);
		--sl-color-blue: hsl(var(--sl-hue-blue), 90%, 60%);
		--sl-color-blue-low: hsl(var(--sl-hue-blue), 88%, 90%);
		--sl-color-purple-high: hsl(var(--sl-hue-purple), 90%, 30%);
		--sl-color-purple: hsl(var(--sl-hue-purple), 90%, 60%);
		--sl-color-purple-low: hsl(var(--sl-hue-purple), 80%, 90%);
		--sl-color-red-high: hsl(var(--sl-hue-red), 80%, 30%);
		--sl-color-red: hsl(var(--sl-hue-red), 90%, 60%);
		--sl-color-red-low: hsl(var(--sl-hue-red), 80%, 90%);

		--sl-color-accent-high: hsl(234, 80%, 30%);
		--sl-color-accent: hsl(234, 90%, 60%);
		--sl-color-accent-low: hsl(234, 88%, 90%);

		--sl-color-text-accent: var(--sl-color-accent);
		--sl-color-text-invert: var(--sl-color-black);
		--sl-color-bg-nav: var(--sl-color-gray-7);
		--sl-color-bg-sidebar: var(--sl-color-bg);
		--sl-color-bg-inline-code: var(--sl-color-gray-6);
		--sl-color-bg-accent: var(--sl-color-accent);
		--sl-color-hairline-light: var(--sl-color-gray-6);
		--sl-color-hairline-shade: var(--sl-color-gray-6);

		--sl-color-backdrop-overlay: hsla(225, 9%, 36%, 0.66);

		/* Shadows (light mode) */
		--sl-shadow-sm: 0px 1px 1px hsla(0, 0%, 0%, 0.06), 0px 2px 1px hsla(0, 0%, 0%, 0.06);
		--sl-shadow-md: 0px 8px 4px hsla(0, 0%, 0%, 0.03), 0px 5px 2px hsla(0, 0%, 0%, 0.03),
			0px 3px 2px hsla(0, 0%, 0%, 0.06), 0px 1px 1px hsla(0, 0%, 0%, 0.06);
		--sl-shadow-lg: 0px 25px 7px rgba(0, 0, 0, 0.01), 0px 16px 6px hsla(0, 0%, 0%, 0.03),
			0px 9px 5px hsla(223, 13%, 10%, 0.08), 0px 4px 4px hsla(0, 0%, 0%, 0.16),
			0px 4px 2px hsla(0, 0%, 0%, 0.04);
	}

	@media (min-width: 50em) {
		:root {
			--sl-nav-height: 4rem;
			--sl-nav-pad-x: 1.5rem;
			--sl-text-h1: var(--sl-text-5xl);
			--sl-text-h2: var(--sl-text-4xl);
			--sl-text-h3: var(--sl-text-3xl);
			--sl-text-h4: var(--sl-text-2xl);
		}
	}

	@media (min-width: 72rem) {
		:root {
			--sl-content-pad-x: 1.5rem;
			--sl-mobile-toc-height: 0rem;
		}
	}
}


/**
 * Starlight components
 * -------------------------------------------------------------------------- */
@layer starlight.components {
	.starlight-aside {
		padding: 0.5rem 1.5rem;
		border-inline-start: 0.25rem solid var(--sl-color-asides-border);
		color: var(--sl-color-white);
	}
	.starlight-aside--note {
		--sl-color-asides-text-accent: var(--sl-color-blue-high);
		--sl-color-asides-border: var(--sl-color-blue);
		background-color: var(--sl-color-blue-low);
	}
	.starlight-aside--tip {
		--sl-color-asides-text-accent: var(--sl-color-purple-high);
		--sl-color-asides-border: var(--sl-color-purple);
		background-color: var(--sl-color-purple-low);
	}
	.starlight-aside--caution {
		--sl-color-asides-text-accent: var(--sl-color-orange-high);
		--sl-color-asides-border: var(--sl-color-orange);
		background-color: var(--sl-color-orange-low);
	}
	.starlight-aside--danger {
		--sl-color-asides-text-accent: var(--sl-color-red-high);
		--sl-color-asides-border: var(--sl-color-red);
		background-color: var(--sl-color-red-low);
	}

	.starlight-aside__title {
		display: flex;
		gap: 0.5rem;
		align-items: center;
		font-size: var(--sl-text-h5);
		font-weight: 600;
		line-height: var(--sl-line-height-headings);
		color: var(--sl-color-asides-text-accent);
	}

	.starlight-aside__icon {
		font-size: 1.333em;
		width: 1em;
		height: 1em;
	}

	.starlight-aside__title + .starlight-aside__content {
		margin-top: 0.5rem;
	}

	.starlight-aside__content a {
		color: var(--sl-color-asides-text-accent);
	}
}
