@tailwind base;
@tailwind components;
@tailwind utilities;

/**
 * BASE
 */
:root {
  // Defaults  
  --text-default: #8f9ba3;
  --text-highlight: #FFF;
  --default-1: var(--gray-1);
  --default-2: var(--gray-2);
  --default-3: var(--gray-3);
  --default-soft: var(--gray-soft);
  --code-bg: #65758529;
  --code-color: #2B82F6;

  // Fonts
  --font-family-heading: Lexend, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
  --font-family-base: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  --font-family-mono: ui-monospace, SFMono-Regular, 'SF Mono', monospace;

  // Backgrounds
  --bg: #030711;
  --bg-alt: #0F1629;
  --bg-shade: #3F4454;
  --bg-elv: #0F1629;
  --bg-soft: #0F1629;

  // Borders
  --border: #1A2233;
  // --border: 216 34% 17%;
  --divider: #252D3D;
  --gutter: #000000;

  // Brand
  --brand-1: #3B82F6;
  --brand-2: #FF9900;
  --brand-3: #fffc00;
  --brand: var(--brand-3);

  // Buttons
  --button-primary-bg: var(--brand);
  --button-primary-text: #121518;
  --button-primary-hover-bg: #cccc00;
  --button-primary-hover-text: #000;

  --button-secondary-bg: #32363f;
  --button-secondary-text: #FFF;
  --button-secondary-hover-bg: #414853;
  --button-secondary-hover-text: #FFF;

  --button-outline-border: #32363f;
  --button-outline-text: var(--default-1);
  --button-outline-hover-border: #808080;
  --button-outline-hover-text: #FFF;

  // Components
  --home-hero-name-color: var(--brand);

  --nav-bg-color: var(--bg-alt);

  --sidebar-bg-color: var(--bg);   

  --layout-top-height: 40px;

  --card: 224 71% 4%;
  --card-foreground: 213 31% 91%;
}

html {
  background-color: var(--bg);
  font-family: var(--font-family-base);
  color: var(--text-default);
}

a:link,
a:visited {
  color: var(--text-default);
}
a:hover,
a:active,
a:focus {
  color: var(--text-highlight);
  text-decoration: underline;
}


/**
 * TYPOGRAPHY
 */
h1, h2, h3 {
  font-family: var(--font-family-heading);
}

h1 {
  @apply text-2xl;
}

h2 {
  @apply text-xl;
}

.text-highlight {
  color: var(--text-highlight);
}

/** 
 * CONTAINER
 */ 
.container {
  margin: 0 auto;
}

@media (min-width: 1536px){
  // .container{max-width: 1280px;}
  .container {
    @apply max-w-screen-xl;
  }
}

.focus {
  position: relative;
  z-index: 10;
  max-width: 700px;
  margin: 0 auto;
}

.focus h2 {
  color: var(--text-highlight);
}

section.segment {
  @apply mt-32 mb-32;
}

main.body {
  margin-top: var(--layout-top-height);
}

.frameworks {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}

.frameworks .focus {
  text-align: center;
  margin-bottom: 2rem;
}

.frameworks h3 {
  font-size: 2rem;
  line-height: 2.5rem;
  font-weight: 400;
  margin-bottom: 0.75rem;
  color: var(--text-highlight);
}
