---
import BaseLayout from '../layouts/BaseLayout.astro';
import Button from '../components/Button.astro';
import Frameworks from '../components/Frameworks.astro';

export const prerender = true;
---

<BaseLayout title="">
	<section class="hero">
		<div class="container">
		  <div class="focus">
			<slot name="home-hero-info">
			  <h1 class="name">
          <span  class="text">The deployment platform<br />for modern web developers</span>
			  </h1>
			  <!-- <p class="tagline">Developers deserve better than AWS Amplify. That's why we made Thunder, the easier and faster alternative. From configs to deployments, we've got you covered.</p> -->
			  <p class="tagline">Deploy modern web frameworks on AWS like a pro. <br />Thunder is the open source front-end cloud.</p>
			</slot>
	
			<div class="actions">
				<Button size="md" variant="primary" data-auth-button>Sign Up with Github</Button>
				
        <a href="/docs">
          <Button size="md" variant="outline">
            Documentation
          </Button>
        </a>
			</div>
		  </div>	
		</div>
	</section>

  <section class="segment frameworks">
    <div class="container">
        <div class="focus">
            <h3>Deploy your next project on AWS (easily)</h3>
            <p>Get setup in 2 minutes with seamless CI/CD with your Github repository.</p>
        </div>
        <Frameworks />
    </div>
  </section>

  <section class="segment hallmarks">
    <div class="container">
        <div class="grid grid-cols-1 lg:grid-cols-2 gap-4">
          <article class="hallmark">
            <h3>Single Page Applications (SPA)</h3>
            <p>Server pre-rendered pages stored in S3 <br />and served from CloudFront</p>
            <img src="/images/SPA.png" alt="Single Page Applications" class="mx-auto w-full h-auto">
          </article>
          <article class="hallmark">
            <h3>Seamless GitOps</h3>
            <p>Push to production and rebuild CDN cache <br />directly from git</p>
            <img src="/images/GitOps.png" alt="GitOps" class="mx-auto w-full h-auto">
          </article>
        </div>
    </div>
  </section>
  
  <section class="segment">
    <div class="container">
      <div class="focus">
        <section class="intro text-center mb-10">
          <h2><span class="text-4xl text-highlight block mb-2">Deploy web apps on AWS in minutes</span></h2>
          <div class="actions mt-6">
            <div class="action">
              <Button size="md" variant="primary" data-auth-button>Get Started Free</Button>
            </div>
          </div>
        </section>
      </div>

      <div class="max-w-[1152px] mx-auto">
        <img src="/screens/thunder-console-app.png" alt="Thunder Console demo" class="mx-auto w-full h-auto">
      </div>
    </div>
  </section>

  <section class="segment pricing mt-6" id="pricing">
    <div class="container">
        <div class="focus">
          <section class="intro text-center mb-10">
            <h2>
                <span class="text-3xl font-light block mb-2">Plans and Pricing</span>
            </h2>
            <p class="mb-2">Our pricing is organization-based. Your AWS usage costs remain your responsibility.</p>
          </section>
        </div>
    </div>
  
    <div class="container">
      <table class="w-full border-collapse">
        <thead>
          <tr>
            <th class="p-3"></th>
            <th class="p-3 text-center w-1/4">
              <div class="text-xl font-semibold text-highlight">Free</div>
              <div class="font-normal text-muted-foreground mt-2">Made for product creators</div>
            </th>
            <th class="p-3 text-center w-1/4">
              <div class="text-xl font-semibold text-highlight">Pro</div>
              <div class="font-normal text-muted-foreground mt-2">Made for full-stack developers</div>
            </th>
            <th class="p-3 text-center w-1/4">
              <div class="text-xl font-semibold text-highlight">Lifetime</div>
              <div class="font-normal text-muted-foreground mt-2">Available during beta program</div>
            </th>
          </tr>
          <tr>
            <th class="p-3"></th>
            <th class="p-3 text-center">
            </th>
            <th class="p-3 text-center">
              <div class="font-normal text-xl text-highlight">
                <span class="">$</span><span class="">10</span>
                <span class="">/month</span>
              </div>
              <div class="font-normal text-muted-foreground mt-1">
                <span class="">Billed monthly</span>
              </div>
            </th>
            <th class="p-3 text-center">
              <div class="font-normal text-xl text-highlight">
                <span class="">$</span><span class="">99</span>
                <span class=""></span>
              </div>
              <div class="font-normal text-muted-foreground mt-1">
                <span class="">One-time payment</span>
              </div>
            </th>
          </tr>
          <!-- <tr>
            <th class="p-3"></th>
            <th class="p-3 text-center">
              <div class="actions">
                <Button size="sm" variant="primary" data-auth-button>Sign Up with Github</Button>
              </div>
            </th>
            <th class="p-3 text-center">
              <div class="actions">
                  <Button size="sm" variant="outline" disabled>Coming soon</Button>
              </div>
            </th>
            <th class="p-3 text-center">
              <div class="actions">
                <Button size="sm" variant="primary" data-auth-button>Sign Up and Pay</Button>
              </div>
            </th>
          </tr> -->
          <!-- <tr>
            <td class="p-3">
              <h3>Unlimited Applications</h3>
              <p class="text-sm text-muted-foreground mt-1">No limits on Apps, Environments and Services</p>
            </td>
            <td class="p-3 text-center">
              <img height="16px" width="16px" src="/images/tick.svg" alt="Tick" class="inline-block" />
            </td>
            <td class="p-3 text-center">
              <img height="16px" width="16px" src="/images/tick.svg" alt="Tick" class="inline-block" />
            </td>
            <td class="p-3 text-center">
              <img height="16px" width="16px" src="/images/tick.svg" alt="Tick" class="inline-block" />
            </td>
          </tr> -->
          <tr>
            <td class="p-3">
              <h3>Single Page Applications (SPA)</h3>
              <p class="text-sm text-muted-foreground mt-1">Hosted on S3 and CloudFront</p>
            </td>
            <td class="p-3 text-center">
              <img height="16px" width="16px" src="/images/tick.svg" alt="Tick" class="inline-block" />
            </td>
            <td class="p-3 text-center">
              <img height="16px" width="16px" src="/images/tick.svg" alt="Tick" class="inline-block" />
            </td>
            <td class="p-3 text-center">
              <img height="16px" width="16px" src="/images/tick.svg" alt="Tick" class="inline-block" />
            </td>
          </tr>
          <tr>
            <td class="p-3">
              <h3>Static Site Generators (SSG)</h3>
              <p class="text-sm text-muted-foreground mt-1">Server pre-rendered pages using CodeBuild</p>
            </td>
            <td class="p-3 text-center">
              <img height="16px" width="16px" src="/images/tick.svg" alt="Tick" class="inline-block" />
            </td>
            <td class="p-3 text-center">
              <img height="16px" width="16px" src="/images/tick.svg" alt="Tick" class="inline-block" />
            </td>
            <td class="p-3 text-center">
              <img height="16px" width="16px" src="/images/tick.svg" alt="Tick" class="inline-block" />
            </td>
          </tr>
          <tr>
            <td class="p-3">
              <h3>Git Push to Deploy</h3>
              <p class="text-sm text-muted-foreground mt-1">Automatic build and deploy with CodePipeline</p>
            </td>
            <td class="p-3 text-center">
              <img height="16px" width="16px" src="/images/tick.svg" alt="Tick" class="inline-block" />
            </td>
            <td class="p-3 text-center">
              <img height="16px" width="16px" src="/images/tick.svg" alt="Tick" class="inline-block" />
            </td>
            <td class="p-3 text-center">
              <img height="16px" width="16px" src="/images/tick.svg" alt="Tick" class="inline-block" />
            </td>
          </tr>
          <tr>
            <td class="p-3">
              <h3>Server Side Rendering (SSR)</h3>
              <p class="text-sm text-muted-foreground mt-1">Fast responses via Lambda</p>
            </td>
            <td class="p-3 text-center">
              <!-- <img height="16px" width="16px" src="/images/tick.svg" alt="Tick" class="inline-block" /> -->
            </td>
            <td class="p-3 text-center">
              <!-- <img height="16px" width="16px" src="/images/tick.svg" alt="Tick" class="inline-block" /> -->
              <span class="text-xs text-muted-foreground ml-2">Coming Soon</span>
            </td>
            <td class="p-3 text-center">
              <!-- <img height="16px" width="16px" src="/images/tick.svg" alt="Tick" class="inline-block" /> -->
              <span class="text-xs text-muted-foreground ml-2">Coming Soon</span>
            </td>
          </tr>
          <tr>
            <td class="p-3">
              <h3>Multiple AWS Accounts</h3>
              <p class="text-sm text-muted-foreground mt-1">Deploy environments in different accounts</p>
            </td>
            <td class="p-3 text-center">
              <!-- <img height="16px" width="16px" src="/images/tick.svg" alt="Tick" class="inline-block" /> -->
            </td>
            <td class="p-3 text-center">
              <img height="16px" width="16px" src="/images/tick.svg" alt="Tick" class="inline-block" />
            </td>
            <td class="p-3 text-center">
              <img height="16px" width="16px" src="/images/tick.svg" alt="Tick" class="inline-block" />
            </td>
          </tr>
        </thead>
      </table>
    </div>
  </section>

  <section class="segment">
    <div class="container">
      <div class="focus">
        <section class="intro text-center mb-10">
          <h2><span class="text-4xl text-highlight block mb-2">The open source front-end cloud</span></h2>
          <div class="actions mt-6">
            <div class="action">
              <Button size="md" variant="primary" data-auth-button>Sign up with Github</Button>

              <p><small>Free tier. No credit card required.</small></p>
            </div>
          </div>
        </section>
      </div>
    </div>
  </section>
  
  <section class="segment">
    <div class="container">
      <div class="focus">
        <section class="intro text-center mb-10">
          <h2>
              <span class="text-4xl font-light block mb-2">Frequently Asked Questions</span>
          </h2>
        </section>
        <div class="faq-content">
          <div class="faq">
            <h3>I am using Vercel / Netlify / DigitalOcean Apps, why should I switch?</h3>
            <p>Full control and visibility over your infrastructure. Applications hosted on the AWS serverless costs a fraction of what you are paying. Small companies can make great use of the free tier and AWS Activate credits.</p>
          </div>
          <div class="faq">
            <h3>What if I want a refund?</h3>
            <p>Money back, no questions asked. Contact support for assistance. Please refrain from filing chargeback disputes; We are happy to refund if you want to cancel.</p>
          </div>
          <div class="faq">
            <h3>How do I cancel my account?</h3>
            <p>You can disconnect your AWS account from Thunder and retain all your projects and data. No vendor lock (other than AWS).</p>
          </div>
        </div>
      </div>
    </div>
  </section>

</BaseLayout>

<style>
.hero {
  margin-top: 65px;
  padding: 72px 0;
}

@media (min-width: 640px) {
  .hero {
    padding: 128px 0;
  }
}

@media (min-width: 960px) {
  .hero {
    padding: 228px 0 164px;
  }
}

.name {
  letter-spacing: -0.4px;
  font-size: 24px;
  line-height: 36px;
  font-weight: 700;
  white-space: pre-wrap;
  text-align: center;
  margin-bottom: 2rem;
}

span.text {
  color: #FFF;
}

@media (min-width: 640px) {
  .name {
    font-size: 36px;
    line-height: 48px;
  }
}

@media (min-width: 960px) {
  .name {
    font-size: 42px;
    line-height: 58px;
  }
}

.name::after {
  content: "";
  display: block;
  width: 445px; /* Match your SVG width */
  height: 34px;  /* Match your SVG height */
  background-image: url('/images/line.svg');
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 10px; /* Adjust spacing as needed */
  margin-left: auto;
  margin-right: auto;
}

.tagline {
  padding-top: 8px;
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  white-space: pre-wrap;
  color: var(--vp-c-text-2);
  text-align: center;
}

@media (min-width: 640px) {
  .tagline {
    font-size: 18px;
    line-height: 32px;
  }
}

@media (min-width: 960px) {
  .tagline {
    font-size: 18px;
    line-height: 32px;
  }
}

.actions {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding-top: 24px;

}

.action {
  display: inline-block;
}

article.hallmark {
  display: block;
  border: 1px solid var(--border);
  height: 100%;
  transition: border-color 0.25s, background-color 0.25s;
  display: flex;
  flex-direction: column;
  padding: 24px;
}

article.hallmark h3 {
  margin-bottom: 0.5rem;
}

article.hallmark p {
  font-size: 24px;
  line-height: 1.4;
  font-weight: 400;
  margin-bottom: 2rem;
  color: var(--text-highlight);
}

article.hallmark img {
  max-width: 540px;
}

section.pricing h3 {
  color: var(--text-highlight);
}

.faq-content {
  text-align: left;
}
.faq {
  margin-bottom: 2rem;
}
.faq h3 {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 0.25rem;
  color: var(--text-highlight);
}
.faq p {
  margin-bottom: 1rem;
}
</style>
