---
import BaseLayout from '../layouts/BaseLayout.astro';
import Button from '../components/Button.astro';
import Frameworks from '../components/Frameworks.astro';
---

<BaseLayout title="">
	<section class="hero">
		<div class="container">
		  <div class="focus">
			<slot name="home-hero-info">
			  <h1 class="name">
          <span  class="text">AWS platform for<br />modern web developers</span>
			  </h1>
			  <p class="tagline">Developers deserve better than AWS Amplify. That's why we made Thunder, the easier and faster alternative. From configs to deployments, we've got you covered.</p>
			</slot>
	
			<div class="actions">
				<Button size="md" variant="primary" data-auth-button>Sign Up with Github</Button>
				
        <a href="docs/">
          <Button size="md" variant="outline">
            Documentation
          </Button>
        </a>
			</div>
		  </div>	
		</div>
	</section>

  <section class="segment frameworks">
    <div class="container">
        <div class="focus">
            <h3>Deploy your next project on AWS (easily)</h3>
            <p>Get setup in 2 minutes with seamless CI/CD with your Github repository.</p>
        </div>
        <Frameworks />
    </div>
  </section>

  <section class="segment hallmarks">
    <div class="container">
        <div class="grid grid-cols-1 lg:grid-cols-2 gap-4">
          <article class="hallmark">
            <h3>Single Page Applications (SPA)</h3>
            <p>Server pre-rendered pages stored in S3 <br />and served from CloudFront</p>
            <img src="/images/SPA.png" alt="Single Page Applications" class="mx-auto w-full h-auto">
          </article>
          <article class="hallmark">
            <h3>Seamless GitOps</h3>
            <p>Push to production and rebuild CDN cache <br />directly from git</p>
            <img src="/images/GitOps.png" alt="GitOps" class="mx-auto w-full h-auto">
          </article>
        </div>
    </div>
  </section>
  
  <section class="segment">
    <div class="container">
      <div class="focus">
        <section class="intro text-center mb-10">
          <h2><span class="text-4xl text-highlight block mb-2">Deploy web apps on AWS in minutes</span></h2>
          <div class="actions mt-6">
            <div class="action">
              <Button size="md" variant="primary" data-auth-button>Get Started Free</Button>
            </div>
          </div>
        </section>
      </div>

      <div class="max-w-[1152px] mx-auto">
        <img src="/screens/thunder-console-app.png" alt="Thunder Console demo" class="mx-auto w-full h-auto">
      </div>
    </div>
  </section>

</BaseLayout>

<style>
.hero {
  margin-top: 65px;
  padding: 72px 0;
}

@media (min-width: 640px) {
  .hero {
    padding: 128px 0;
  }
}

@media (min-width: 960px) {
  .hero {
    padding: 228px 0 164px;
  }
}

.name {
  letter-spacing: -0.4px;
  font-size: 24px;
  line-height: 36px;
  font-weight: 700;
  white-space: pre-wrap;
  text-align: center;
  margin-bottom: 2rem;
}

span.text {
  color: #FFF;
}

@media (min-width: 640px) {
  .name {
    font-size: 36px;
    line-height: 48px;
  }
}

@media (min-width: 960px) {
  .name {
    font-size: 42px;
    line-height: 58px;
  }
}

.name::after {
  content: "";
  display: block;
  width: 445px; /* Match your SVG width */
  height: 34px;  /* Match your SVG height */
  background-image: url('/images/line.svg');
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 10px; /* Adjust spacing as needed */
  margin-left: auto;
  margin-right: auto;
}

.tagline {
  padding-top: 8px;
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  white-space: pre-wrap;
  color: var(--vp-c-text-2);
  text-align: center;
}

@media (min-width: 640px) {
  .tagline {
    font-size: 18px;
    line-height: 32px;
  }
}

@media (min-width: 960px) {
  .tagline {
    font-size: 18px;
    line-height: 32px;
  }
}

.actions {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding-top: 24px;

}

.action {
  display: inline-block;
}

article.hallmark {
  display: block;
  border: 1px solid var(--border);
  height: 100%;
  transition: border-color 0.25s, background-color 0.25s;
  display: flex;
  flex-direction: column;
  padding: 24px;
}

article.hallmark h3 {
  margin-bottom: 0.5rem;
}

article.hallmark p {
  font-size: 24px;
  line-height: 1.4;
  font-weight: 400;
  margin-bottom: 2rem;
  color: var(--text-highlight);
}

article.hallmark img {
  max-width: 540px;
}

</style>
