---
import BaseLayout from '../layouts/BaseLayout.astro';
import Button from '../components/Button.astro';
import Frameworks from '../components/Frameworks.astro';
---

<BaseLayout title="">
	<section class="hero">
		<div class="container">
		  <div class="focus">
			<slot name="home-hero-info">
			  <h1 class="name">
				<span  class="text">The Platform for Web Artisans</span>
			  </h1>
			  <p class="tagline">Thunder is the deployment platform for web developers on AWS.</p>
			</slot>
	
			<div class="actions">
				<Button size="md" variant="primary">Sign Up with Github</Button>
				<Button size="md" variant="outline">View Demo</Button>
			</div>
		  </div>	
		</div>
	</section>

  <section class="segment frameworks">
    <div class="container">
        <div class="focus">
            <h3>Deploy your next project on AWS (easily)</h3>
            <p>Get setup in 2 minutes with seamless CI/CD with your Github repository.</p>
        </div>
        <Frameworks />
    </div>
  </section>

  <section class="segment hallmarks">
    <div class="container">
        <div class="grid grid-cols-1 lg:grid-cols-2 gap-4">
          <article class="hallmark">
            <h3>Single Page Applications (SPA)</h3>
            <p>Server pre-rendered pages stored in S3 <br />and served from CloudFront</p>
            <img src="/SPA.png" alt="Single Page Applications" class="mx-auto w-full h-auto">
          </article>
          <article class="hallmark">
            <h3>Seamless GitOps</h3>
            <p>Push to production and rebuild CDN cache <br />directly from git</p>
            <img src="/GitOps.png" alt="GitOps" class="mx-auto w-full h-auto">
          </article>
        </div>
    </div>
  </section>
  
  <!-- <section class="segment">
  <div class="container">
    <div class="focus">
      <section class="intro text-center mb-10">
        <h2>
          <span class="text-4xl font-light block mb-2">Deploy your next project on AWS</span>
          <span class="text-2xl font-light">without the pain of configuration</span>
        </h2>
        <p>We built Thunder so you can focus on building and shipping your application without ever juggling infrastructure-as-code. Let us handle the underlying complexity.</p>
      </section>
    </div>
    <section class="features grid grid-cols-2 grid-rows-1 gap-4">
      <article class="feature">
        <h3>Get setup in minutes</h3>
        <p>Connect your AWS account using your credentials seamlessly. No training required.</p>
      </article>
      <article class="feature">
        <h3>Automagic build and deploy</h3>
        <p>Pick a project or pick a template to deploy instantly. Seamless CI/CD between your Github code and your AWS account.</p>
      </article>
    </section>
    <section class="features grid grid-cols-3 grid-rows-1 gap-4 mt-4">
      <article class="feature">
        <h3>Zero-config installation</h3>
        <p>Thunder will install all dependent infrastructure on your account, such as S3 bucket, CloudFront distribution, Lambdas, neccessary IAM roles, CodeBuild project, ECR, CodePipeline.</p>
      </article>
      <article class="feature">
        <h3>Choice of Serverless Compute</h3>
        <p>Lambda or Fargate - Host full-stack applications with all modern features of server-side rendering using a compute platform appropriate for your app.</p>
      </article>
      <article class="feature">
        <h3>Own everything</h3>
        <p>You own the code. You own the infrastructure. Unlike other platforms, we do not inject scripts or track your product in any way. Your sites will keep working if you disconnect Thunder.</p>
      </article>
    </section>
  </div>
  </section> -->
  
  <section class="segment">
    <div class="container">
      <div class="focus">
        <section class="intro text-center mb-10">
          <h2><span class="text-4xl text-highlight block mb-2">Deploy SPA apps on AWS in Minutes</span></h2>
          <div class="actions mt-6">
            <div class="action">
              <Button size="md" variant="primary">Get Started Free</Button>
            </div>
          </div>
        </section>
      </div>
    </div>
  </section>

</BaseLayout>

<style>
.hero {
  margin-top: 65px;
  padding: 72px 0;
}

@media (min-width: 640px) {
  .hero {
    padding: 128px 0;
  }
}

@media (min-width: 960px) {
  .hero {
    padding: 228px 0 164px;
  }
}

.name {
  letter-spacing: -0.4px;
  font-size: 24px;
  line-height: 36px;
  font-weight: 700;
  white-space: pre-wrap;
  text-align: center;
}

span.text {
  color: #FFF;
}

@media (min-width: 640px) {
  .name {
    font-size: 28px;
    line-height: 42px;
  }
}

@media (min-width: 960px) {
  .name {
    font-size: 32px;
    line-height: 48px;
  }
}

.tagline {
  padding-top: 8px;
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  white-space: pre-wrap;
  color: var(--vp-c-text-2);
  text-align: center;
}

@media (min-width: 640px) {
  .tagline {
    font-size: 20px;
    line-height: 32px;
  }
}

@media (min-width: 960px) {
  .tagline {
    font-size: 20px;
    line-height: 32px;
  }
}

.actions {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding-top: 24px;

}

.action {
  display: inline-block;
}

article.hallmark {
  display: block;
  border: 1px solid var(--border);
  height: 100%;
  transition: border-color 0.25s, background-color 0.25s;
  display: flex;
  flex-direction: column;
  padding: 24px;
}

article.hallmark h3 {
  margin-bottom: 0.5rem;
}

article.hallmark p {
  font-size: 24px;
  line-height: 1.4;
  font-weight: 400;
  margin-bottom: 2rem;
  color: var(--text-highlight);
}

article.hallmark img {
  max-width: 540px;
}

</style>
