---
import BaseLayout from '../layouts/BaseLayout.astro';
import HeroSection from '../components/home/HeroSection.astro';
import FeaturesSection from '../components/home/FeaturesSection.astro';
import PatternsSection from '../components/home/PatternsSection.astro';
import StepsSection from '../components/home/StepsSection.astro';
import ConsoleSection from '../components/home/ConsoleSection.astro';
import FrameworksSection from '../components/home/FrameworksSection.astro';
import CTASection from '../components/home/CTASection.astro';

export const prerender = true;
---

<BaseLayout title="">
  <main>
    <HeroSection />
    <FrameworksSection />
    <StepsSection />
    <PatternsSection />
    <ConsoleSection />
    <CTASection />
  </main>
</BaseLayout>