/**
 * Customize default theme styling by overriding CSS variables:
 * https://github.com/vuejs/vitepress/blob/main/src/client/theme-default/styles/vars.css
 */


/**
 * Typography
 * -------------------------------------------------------------------------- */

  :root {
    --vp-font-family-heading: Lexend, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
    /* --vp-font-family-base: 'Atkinson Hyperledgible', 'Helvetica Neue', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji'; */
    --vp-font-family-base: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    --vp-font-family-mono: ui-monospace, SFMono-Regular, 'SF Mono', monospace;
  }

  h1, h2, h3 {
    font-family: var(--vp-font-family-heading);
  }

  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  }

  article p, 
  article ul, 
  article ol, 
  article dd, 
  article small, 
  article table, 
  article pre, 
  .cell-content p, 
  blockquote {
    line-height: 1.4;
    margin-bottom: 1rem;
    font-size: 1rem;
    font-weight: 300;
  }

/**
 * Colors: Background
 *
 * - `bg`: The bg color used for main screen.
 *
 * - `bg-alt`: The alternative bg color used in places such as "sidebar",
 *   or "code block".
 *
 * - `bg-elv`: The elevated bg color. This is used at parts where it "floats",
 *   such as "dialog".
 *
 * - `bg-soft`: The bg color to slightly ditinguish some components from
 *   the page. Used for things like "carbon ads" or "table", VPFeatures article.box
 * -------------------------------------------------------------------------- */

  :root {
    --vp-c-bg: #F1E7D0;
    --vp-c-bg-alt: #EADEC2;
    --vp-c-bg-elv: #EADEC2;
    --vp-c-bg-soft: #EADEC2;
  }

  .dark {
    --vp-c-bg: #1b1b1f;
    --vp-c-bg-alt: #161618;
    --vp-c-bg-elv: #202127;
    --vp-c-bg-soft: #202127;
  }

/**
 * Colors: Borders
 *
 * - `divider`: This is used for separators. This is used to divide sections
 *   within the same components, such as having separator on "h2" heading.
 *
 * - `border`: This is designed for borders on interactive components.
 *   For example this should be used for a button outline.
 *
 * - `gutter`: This is used to divide components in the page. For example
 *   the header and the lest of the page.
 * -------------------------------------------------------------------------- */

  :root {
    --vp-c-border: #c2c2c4;
    --vp-c-divider: #e2e2e3;
    --vp-c-gutter: #e2e2e3;
  }

  .dark {
    --vp-c-border: #3c3f44;
    --vp-c-divider: #2e2e32;
    --vp-c-gutter: #000000;
  }


/**
 * Colors: Function
 *
 * - `default`: The color used purely for subtle indication without any
 *   special meanings attched to it such as bg color for menu hover state.
 *
 * - `brand`: Used for primary brand colors, such as link text, button with
 *   brand theme, etc.
 *
 * - `tip`: Used to indicate useful information. The default theme uses the
 *   brand color for this by default.
 *
 * - `warning`: Used to indicate warning to the users. Used in custom
 *   container, badges, etc.
 *
 * - `danger`: Used to show error, or dangerous message to the users. Used
 *   in custom container, badges, etc.
 *
 * To understand the scaling system, refer to "Colors: Palette" section.
 * -------------------------------------------------------------------------- */

  :root {
    --vp-c-default-1: var(--vp-c-gray-1);
    --vp-c-default-2: var(--vp-c-gray-2);
    --vp-c-default-3: var(--vp-c-gray-3);
    --vp-c-default-soft: var(--vp-c-gray-soft);

    --vp-c-brand-1: #EC7211;
    --vp-c-brand-2: #FF9900;
    --vp-c-brand-3: #FFFC00;
    --vp-c-brand: var(--vp-c-brand-1);

    --vp-home-hero-name-color: var(--vp-c-brand);
    --vp-button-brand-bg: var(--vp-c-brand-1);
    /* --vp-nav-bg-color: var(--vp-sidebar-bg-color); */
  }

  .dark {
    --vp-c-brand: var(--vp-c-brand-3);
  }

  a:link,
  a:visited {
    color: var(--vp-c-text-2);
  }
  a:hover,
  a:active,
  a:focus {
    color: var(--vp-c-text-1);
    text-decoration: underline;
  }

  a.VPButton:hover,
  a.VPButton:active,
  a.VPButton:focus {
    text-decoration: none;
  }
  
  a.VPLink:hover,
  a.VPLink:active,
  a.VPLink:focus {
    text-decoration: none;
  }

  a.title:hover,
  a.title:active,
  a.title:focus {
    text-decoration: none;
  }

  a.pager-link:hover,
  a.pager-link:active,
  a.pager-link:focus {
    text-decoration: none !important;
  }

/**
 * Container
 * -------------------------------------------------------------------------- */

  .container {
    margin: 0 auto;
  }

  @media (min-width: 1536px){
    .container{max-width:1280px;}
  }

  .focus {
    position: relative;
    z-index: 10;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 700px;
  }

  .founder {
    max-width: 650px;
    margin: 0 auto;
    border: 1px solid var(--vp-c-bg-soft);
    border-radius: 12px;
    padding: 24px;
    height: 100%;
    background-color: var(--vp-sidebar-bg-color);
    transition: border-color 0.25s, background-color 0.25s;
    display: flex;
    flex-direction: column;
  }

  .founder p {
    color: var(--vp-c-text-2);
    margin-bottom: 0.5rem;
  }


/**
  * Component: Intro
  * -------------------------------------------------------------------------- */

  section.segment {
    @apply mt-32 mb-32 px-4;
  }

  section.intro h2 {
    @apply text-2xl mb-4;
    font-weight: 540;
    letter-spacing: -.015em;
  }

  section.intro p {
    color: var(--vp-c-text-2);
  }

  article.feature {
    display: block;
    border: 1px solid var(--vp-c-bg-soft);
    border-radius: 12px;
    height: 100%;
    background-color: var(--vp-sidebar-bg-color);
    transition: border-color 0.25s, background-color 0.25s;
    display: flex;
    flex-direction: column;
    padding: 24px;
  }

  article.feature h3 {
    @apply text-xl mb-2;
  }

  article.feature p {
    color: var(--vp-c-text-2);
  }

  
/**
  * Component: Buttons
  * -------------------------------------------------------------------------- */

  .actions {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 24px;
  }

  .actions.align-left {
    justify-content: left;
  }

  @media (min-width: 640px) {
    .actions {
      padding-top: 32px;
    }
  }

  .action {
    flex-shrink: 0;
    padding: 6px;
  }

  a.btn {
    border-color: var(--vp-button-brand-border);
    color: var(--vp-button-brand-text);
    background-color: var(--vp-button-brand-bg);
    display: inline-block;
    border: 1px solid transparent;
    text-align: center;
    font-weight: 600;
    text-decoration: none;
    white-space: nowrap;
    transition: color 0.25s, border-color 0.25s, background-color 0.25s;
    border-radius: 20px;
    padding: 0 20px;
    line-height: 38px;
    font-size: 14px;
  }

  a.btn:hover {
    border-color: var(--vp-button-brand-hover-border);
    color: var(--vp-button-brand-hover-text);
    background-color: var(--vp-button-brand-hover-bg);
  }


/**
  * Component: BLOG
  * -------------------------------------------------------------------------- */

  .blog-posts {
    display: block;
    border: 1px solid var(--vp-c-bg-soft);
    border-radius: 12px;
    height: 100%;
    background-color: var(--vp-c-bg-soft);
    padding: 24px;
  }


/**
  * Component: PRICING
  * -------------------------------------------------------------------------- */

  section.pricing .actions {
    padding-top: 16px;
  }

  section.pricing .info {
    background: var(--vp-c-bg-soft);
    border: 1px solid var(--vp-c-bg-soft);
    border-radius: 12px;
    padding: 24px;
  }

  section.pricing .tier {
    background:var(--vp-sidebar-bg-color);
    border: 1px solid var(--vp-c-bg-soft);
    border-radius: 12px;
    padding: 24px;
  }

  section.pricing .tier p,
  section.pricing li {
    color: var(--vp-c-text-2);
    margin-bottom: 0.5rem;
  }

  section.pricing ol {
    margin-top: 1rem;
  }
  section.pricing .tier li {
    /* background-image: url('/images/tick.svg');
    background-repeat: no-repeat;
    background-size: 16px;
    background-position: left center;
    padding-left: 1.5rem; */
  }

  section.pricing li::before {
    content: "";
    display: inline-block;
    width: 1em;
    height: 1em;
    margin-right: 0.5em;
    background-image: url('/images/tick.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }

  section.pricing .tier h3 {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 0.5rem;
  }

  .price-tag {
    margin-top: 1.5rem;
    text-align: center;
  }
  .symbol, 
  .amount {
    font-weight: 700;
    font-size: 2.25rem;
    line-height: 2.5rem;
  }
  .after {
    padding-left: 0.5rem;
  }
  .extra {
    display: block;
  }


/**
  * Component: FAQ
  * -------------------------------------------------------------------------- */
.faq-content {
  text-align: left;
}
.faq {
  margin-bottom: 2rem;
}
.faq h3 {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 0.25rem;
}
.faq p {
  color: var(--vp-c-text-2);
  margin-bottom: 1rem;
}



/**
  * Component: VPDocFooter Styles
  * -------------------------------------------------------------------------- */
  .VPDocFooter {
    margin-top: 64px;
  }
  
  .edit-info {
    padding-bottom: 18px;
  }
  
  @media (min-width: 640px) {
    .edit-info {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 14px;
    }
  }
  
  .edit-link-button {
    display: flex;
    align-items: center;
    border: 0;
    line-height: 32px;
    font-size: 14px;
    font-weight: 500;
    color: var(--vp-c-brand-1);
    transition: color 0.25s;
  }
  
  .edit-link-button:hover {
    color: var(--vp-c-brand-dark);
  }
  
  .edit-link-icon {
    margin-right: 8px;
    width: 14px;
    height: 14px;
    fill: currentColor;
  }
  
  .prev-next {
    border-top: 1px solid var(--vp-c-divider);
    padding-top: 24px;
  }
  
  @media (min-width: 640px) {
    .prev-next {
      display: flex;
    }
  }
  
  .pager.has-prev {
    padding-top: 8px;
  }
  
  @media (min-width: 640px) {
    .pager {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      width: 50%;
    }
  
    .pager.has-prev {
      padding-top: 0;
      padding-left: 16px;
    }
  }
  
  .pager-link {
    display: block;
    border: 1px solid var(--vp-c-divider);
    border-radius: 8px;
    padding: 11px 16px 13px;
    width: 100%;
    height: 100%;
    transition: border-color 0.25s !important;
    text-decoration: none !important;
  }
  
  .pager-link:hover {
    border-color: var(--vp-c-brand-1);
  }
  
  .pager-link.next {
    margin-left: auto;
    text-align: right;
  }
  
  .desc {
    display: block;
    line-height: 20px;
    font-size: 12px;
    font-weight: 500;
    color: var(--vp-c-text-2);
  }
  
  .title {
    display: block;
    line-height: 20px;
    font-size: 14px;
    font-weight: 500;
    color: var(--vp-c-brand-1);
    transition: color 0.25s;
  }


  /**
  * Component: EXTRAS
  * -------------------------------------------------------------------------- */

.purple .pricing-label {
	background: #cad2ff;
	color: #627afe;
}

.purple .price-tag {
	color: #627afe;
}

.purple .price-button {
	background: #627afe;
}

.btn-purple {
    background: #627afe;
    color: #fff;
}

.purple .price-button:hover {
	background: #546dfe;
}

.turquoise .pricing-label {
	background: #b9edee;
	color: #44cdd2;
}

.turquoise .price-tag {
	color: #44cdd2;
}

.turquoise .price-button {
	background: #44cdd2;
}

.turquoise .price-button:hover {
	background: #2dbcc4;
}

.red .pricing-label {
	background: #ffc4c4;
	color: #ff5e5e;
}

.red .price-tag {
	color: #ff5e5e;
}

.red .price-button {
	background: #ff5e5e;
}

.red .price-button:hover {
	background: #f23c3c;
}