---
import { Astronav, MenuItems, MenuIcon } from "astro-navbar";
// import Brand from './public/thunder.svg';
import Button from './Button.astro';
import Brand from './Brand.astro';

const { class: additionalClass } = Astro.props;

const menuitems = [
  {
    title: "Docs",
    path: "/docs",
  },
  // {
  //   title: "Blog",
  //   path: "/blog",
  // },
  {
    title: "Pricing",
    path: "/pricing",
  },
];
---
<header id="header" class:list={[additionalClass, "navigation"]}>
<div class="max-w-screen-xl mx-auto px-5 py-3">
  <Astronav>
    <div class="flex flex-col lg:flex-row lg:justify-between">
        <div class="flex items-center justify-between">
          <Brand />

          <div class="flex lg:hidden">
            <MenuIcon class="w-4 h-4" />
          </div>
        </div>
      
        <MenuItems class="hidden mt-2 lg:flex lg:items-center lg:mt-0">
          <ul class="flex flex-col lg:flex-row lg:gap-3 lg:mr-4 font-md">
            {
              menuitems.map((item, index) => (
                <>
                    <li>
                      <a
                        href={item.path}
                        class="flex lg:px-3 py-2 items-center">
                        <span> {item.title}</span>
                      </a>
                    </li>
                </>
              ))
            }
          </ul>
          <div class="flex my-2 lg:my-0 items-center gap-2">
            <Button size="sm" variant="secondary">Log In</Button>
            <Button size="sm" variant="primary">Sign Up</Button>
          </div>
        </MenuItems>
    </div>
  </Astronav>
</div>
</header>

<script>
  if (typeof window !== 'undefined') {
    window.addEventListener('scroll', () => {
      const header = document.getElementById('header');
      if (header) { 
        if (window.scrollY > 50) {
          header.classList.add('scrolled');
        } else {
          header.classList.remove('scrolled');
        }
      }
    });
  }
</script>

<style>
header.navigation {
  position: fixed;
  top: 0px;
  left: 0;
  z-index: 999;
  width: 100%;
  transition: background-color 0.25s;
  font-family: var(--font-family-heading);
  text-rendering: optimizeLegibility;
  border-bottom: 1px solid transparent;
}

header.documentation,
header.scrolled {
  border-bottom: 1px solid var(--border);
  background-color: var(--bg);
}

@media (max-width: 1024px) {
  header.navigation {
    background-color: var(--bg);
    border-bottom: 1px solid transparent;
  }
}


header.navigation a:hover {
  text-decoration: none;
}
</style>