---
import { SEO } from "astro-seo";
import Snippets from "../components/Snippets.astro";
import Navigation from '../components/Navigation.astro';
import Footer from '../components/Footer.astro';
import "../styles/main.scss";

interface Props {
	title: string;
}
const canonicalURL = new URL(Astro.url.pathname, Astro.site).toString();

const resolvedImageWithDomain = new URL(
  "./opengraph.jpg", Astro.site
).toString();

const { title } = Astro.props;

const makeTitle = title
  ? title + " | " + "Thunder"
  : "Thunder - Deploy Apps on AWS like a Pro";
---

<!doctype html>
<html lang="en">
	<head>
		<Snippets />
		<meta charset="UTF-8" />
		
		<title>{makeTitle}</title>
		<meta name="description" content="" />

		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/thunder.svg" />
		<meta name="generator" content={Astro.generator} />

		<!-- <SEO
			title={makeTitle}
			description=""
			canonical={canonicalURL}
			twitter={{
				title: makeTitle,
				site: "@_thunderso",
				card: "summary_large_image",
			}}
			openGraph={{
				basic: {
					url: canonicalURL,
					type: "website",
					title: makeTitle,
					image: resolvedImageWithDomain,
				},
				image: {
					alt: makeTitle,
				},
			}}
		/> -->
	</head>
	<body>
		<Navigation />
		<slot />
		<Footer />

		<style is:global>
			/* Improve Page speed */
			/* https://css-tricks.com/almanac/properties/c/content-visibility/ */
			img {
			  content-visibility: auto;
			}
		</style>
	</body>
</html>