---
import { SEO } from "astro-seo";
import Snippets from "../components/Snippets.astro";
import Navigation from '../components/Navigation.astro';
import Footer from '../components/Footer.astro';
import "../styles/main.scss";

interface Props {
	title: string;
}
const { title } = Astro.props;

const makeTitle = title
  ? title + " | " + "Thunder"
  : "Thunder - Deploy Apps on AWS like a Pro";

const canonicalURL = new URL(Astro.url.pathname, Astro.site).toString();

const resolvedImageWithDomain = new URL(
  "./opengraph.jpg", Astro.site
).toString();
---

<!doctype html>
<html lang="en">
	<head>
		<Snippets />
		<meta charset="UTF-8" />
		<title>{makeTitle}</title>

		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/images/thunder.svg" />

		<SEO
			title={makeTitle}
			description=""
			canonical={canonicalURL}
			twitter={{
				title: makeTitle,
				site: "@_thunderso",
				card: "summary_large_image",
			}}
			openGraph={{
				basic: {
					url: canonicalURL,
					type: "website",
					title: makeTitle,
					image: resolvedImageWithDomain,
				},
				image: {
					alt: makeTitle,
				},
			}}
		/>
	</head>
	<body>
		<!-- Google Tag Manager (noscript) -->
		<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WJGN6NJ"
			height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
		<!-- End Google Tag Manager (noscript) -->
		
		<div style="width: 600px; top: -100px;" class="absolute right-[400px] z-10 h-[150px] w-[400px] rotate-[0deg] transform rounded-full bg-gradient-to-tl from-[var(--bg)] via-[var(--bg-shade)] to-[var(--bg-alt)] blur-[150px]"></div>

		<div class="fixed dotted-background h-full top-0 left-0 right-0 z-[-999]"><div class="absolute left-0 right-0 bottom-0 h-[300px]"></div></div>

		<Navigation />
		<slot />
		<Footer />

		<style is:global>
			/* Improve Page speed */
			/* https://css-tricks.com/almanac/properties/c/content-visibility/ */
			img {
			  content-visibility: auto;
			}
		</style>
	</body>
</html>

<style>
.dotted-background {
	background-position: 0 0,14px 14px;
	background-size: 16px 16px;
	width: 100%;
	background-image: radial-gradient(#181818 5%,#0000001f 15%);
	background-color: var(--bg);
	position: fixed !important;
}
</style>