---
import Snippets from "../components/Snippets.astro";
import type { MarkdownHeading } from 'astro'
import Navigation from '../components/Navigation.astro';
import Footer from '../components/Footer.astro';
import Markdown from '../components/docs/Markdown.astro';
import "../styles/main.css";
import "../styles/docs.css";

interface Props {
	title: string;
	headings: MarkdownHeading[];
}

const { title, headings } = Astro.props

const makeTitle = title
  ? title + " | " + "Thunder"
  : "Thunder - Deploy Apps on AWS like a Pro";

// const currentPage = Astro.url.pathname;

---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />		
		<title>{makeTitle}</title>

		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/images/thunder.svg" />
	</head>
	<body>
		<Snippets />
		<Navigation />
		
		<main class="layout">
            <Markdown title={title} headings={headings}>
            <slot />
            </Markdown>
		</main>

        <Footer />

		<style is:global>
			/* Improve Page speed */
			/* https://css-tricks.com/almanac/properties/c/content-visibility/ */
			img {
			  content-visibility: auto;
			}
		</style>
	</body>
</html>